<%-include('header')%>
<body>
    <%-include('body')%>
    <!-- Ec login page -->
    <section class="ec-page-content section-space-p">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="section-title">
                      <h2 class="ec-bg-title">Log In</h2>
                      <h2 class="ec-title">Log In</h2>
                      <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                  </div>
              </div>
              <div class="ec-login-wrapper">
                  <div class="ec-login-container">
                      <div class="ec-login-form">
                          <form action="/login" method="post">
                              <span class="ec-login-wrap">
                                  <label>Email Address*</label>
                                  <input type="email" name="email" placeholder="Enter your email address" required />
                                  <p id="emailError" class="p-1 text-danger"></p>
                                </span>
                              <span class="ec-login-wrap">
                                  <label>Password*</label>
                                  <input type="password" name="password" placeholder="Enter your password" required />
                                  <p id="passwordError" class="p-1 text-danger"></p>
                              </span>
                              <span class="ec-login-wrap ec-login-fp">
                                  <label><a href="/forgotPassword">Forgot Password?</a></label>
                              </span>
                           
                           
                            <% if (blocked) { %>
                                <div class="invalid_alert" role="alert">
                                    <%= blocked %>
                                </div>
                            <% } %>
                            
                              <span class="ec-login-wrap ec-login-btn">
                                  <button class="btn btn-primary" type="submit">Login</button>
                               
                              </span>
                             <br>
                        <div class="member">
                          Note a member?
                          <a class="btn btn-primary " href="/signup">Signup Now!!</a>
                      </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <script>
    
        const handleSubmit = async (event) => {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            try {
                const response = await axios.post('/signup',formData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                

                if (response.status === 200) {
                    window.location.href = '/showOtp'
                }
            } catch (error) {
                alert(error)

                if (error.response.status == 400) {
                    const errors = error.response.data.error;
                    Object.keys(errors).forEach((key) => {
                        let element = document.getElementById(key).textContent = errors[key];
                    });
                } else if (error.response.status == 401) {
                    document.getElementById('emailError').textContent = error.response.data.error;
                }
                else if (error.response.status == 409) {
                    document.getElementById('passwordError').textContent = error.response.data.error;
                }
                else {
                    alert("something went wrong");
                }

            }
        };

        document.getElementById('signupForm').addEventListener('submit', handleSubmit);
    

        
        
                              function togglePasswordVisibility() {
                                const passwordField = document.getElementById("password");
                                if (passwordField.type === "password") {
                                  passwordField.type = "text";
                                } else {
                                  passwordField.type = "password";
                                }
                              }
                         
</script>
<%-include('footer')%>