<%-include('header')%>
<body>
    <%-include('body')%>
    <!-- Ec login page -->
    <section class="ec-page-content section-space-p">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="section-title">
                      <h2 class="ec-bg-title">Log In</h2>
                      <h2 class="ec-title">Log In</h2>
                      <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                  </div>
              </div>
              <div class="ec-login-wrapper">
                  <div class="ec-login-container">
                      <div class="ec-login-form">
                       
                          <form id="loginForm">
                              <span class="ec-login-wrap">
                                  <label>Email Address*</label>
                                  <input type="email" name="email" placeholder="Enter your email address " required  />
                                  <p id="emailError" class="p-1 text-danger"></p>
                                </span>
                              <span class="ec-login-wrap">
                                  <label>Password*</label>
                                  <input type="password" name="password" placeholder="Enter your password" />
                                  <p id="passwordError" class="p-1 text-danger"></p>
                              </span>
                              <span class="ec-login-wrap ec-login-fp">
                                  <label><a href="/forgotPassword">Forgot Password?</a></label>
                              </span>
                           
                           
                              <h3 id="accountBlock" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-danger text-decoration"></h3>
                            
                              <span class="ec-login-wrap ec-login-btn">
                                  <button class="btn btn-primary" type="submit" id="submit">submit</button>
                               
                              </span>
                             <br>
                        <div class="member">
                          Note a member?
                          <a class="btn btn-primary " href="/signup">Signup Now!!</a>
                      </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <script>
    
        const handleSubmit = async (event) => {
            event.preventDefault();
           
            const formData = new FormData(event.target);
            
           
            try {
                const response = await axios.post('/login',formData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                

                if (response.status === 200) {
                    window.location.href = '/home'
                }
            } catch (error) {
                console.log(error);

                if (error.response.status == 400) {
                    const errors = error.response.data.error;
                    Object.keys(errors).forEach((key) => {
                        let element = document.getElementById(key).textContent = errors[key];
                    });
                } else if (error.response.status == 401) {
                    document.getElementById('emailError').textContent = error.response.data.error;
                }
                else if (error.response.status == 409) {
                    document.getElementById('passwordError').textContent = error.response.data.error;
                }else if(error.response.status==402){
                    document.getElementById('accountBlock').textContent = error.response.data.error;

                }
                else {
                    alert("something went wrong");
                }

            }
        };

        document.getElementById('loginForm').addEventListener('submit', handleSubmit);

                              function togglePasswordVisibility() {
                                const passwordField = document.getElementById("password");
                                if (passwordField.type === "password") {
                                  passwordField.type = "text";
                                } else {
                                  passwordField.type = "password";
                                }
                              }
                         
</script>
<%-include('footer')%>